:root {
  --white: white;
  --bright-green: lightgreen;
  --pinkish: #E3AE96;
  --lavender: #E3ACDE;
  --dark-lavernder: #967A94;
  --dark-gray: #141414;
  --medium-dark-gray: #3b3b3b;
  --medium-gray: #636363;
  --light-gray-1: whitesmoke;
  --light-gray-2: gainsboro;
  --black: black;
  --shadow-medium: rgba(0, 0, 0, 0.2);
  --shadow-strong: rgba(0, 0, 0, 0.5);
  --effect-active-bg: #d1e7dd;
  --effect-active-border: #0f5132;
  --effect-active-color: #0f5132;
  --mint-green: #8AE3A8;
  --mint-green-hover: #7ccc97;
  --green-gradient: linear-gradient(to right, var(--mint-green), #7ccc97);
  --green-to-lavender: linear-gradient(to right, var(--mint-green), #E3ACDE);
}

/* General Layout */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  padding: 50px;
  background-color: white;
  line-height: 1.5;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}

/* Headings */
h1 {
  font-size: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 16px;

}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: 100%;
}

.text-container p {
  font-size: 18px;
  margin-top: -5px;
  font-family: "Newsreader", serif;
}


#ipadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-gray);
  border-radius: 20px;
  box-shadow: 0 5px 15px var(--shadow-medium);
  width: 700px;
  height: 450px;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid var(--light-gray-2);
}

#currentSentence {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  /* background-image: url('public/backgroundPattern.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center; */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  position: relative;
}

#emotionBtn-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

}

/* Sentence Display */
#sentenceWords {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 20px;
}

/* Each word container */
.word-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Main word button */
.sentence-word {
  padding: 9px 18px;
  border-radius: 6px;
  background: var(--green-gradient);
  border: none;
  cursor: pointer;
  font-size: 14px;
  /*box-shadow: 0 1px 3px var(--shadow-strong);*/
}

.sentence-word:hover {
  padding: 9px 18px;
  border-radius: 6px;
  background-color: var(--mint-green-hover);
  border: none;
  cursor: pointer;
  font-size: 14px;
  /*box-shadow: 0 1px 3px var(--shadow-strong);*/
}

/*Emotion Effects */

.sentence-word.emotion-angry {
  background: linear-gradient(135deg, #ff033e, #800500);
  color: white;
  border-radius: 8px;
}

.sentence-word.emotion-sad {
  background: linear-gradient(135deg, #b0e0e6, #3C5291);
  color: white;
  border-radius: 8px;
}

.sentence-word.emotion-excited {
  background: linear-gradient(135deg, #ED8B00, #ffd200);
  color: #222;
  border-radius: 8px;
}

.sentence-word.emotion-relaxed {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  color: #333;
  border-radius: 8px;
}

.sentence-word[class*="emotion-"] {
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}



#currentTypedWord {
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: 18px;
  color: var(--medium-dark-gray);
  font-weight: 400px;
  width: 50%;
  padding-left: 10px;
  color: gray;
}



/* Word popup styling */
#wordPopup {
  position: absolute;
  padding: 20px;
  width: 150px;
  background-color: var(--light-gray-1);
  border: none;
  box-shadow: 0 4px 10px var(--shadow-strong);
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}

#wordPopup.hidden {
  display: none;
}

#wordPopup button {
  padding: 6px 18px;
  border-radius: 15px;
  background-color: #e6b6a1;
  color: var(--dark-gray);
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

#wordPopup button:hover {
  background-color: #d99f89;
}

.popup-effect-active {
  background-color: #c98973;
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#wordPopup button:disabled {
  background-color: #f0d5cd;
  cursor: not-allowed;
  opacity: 0.6;
}

.effect-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 0px;
  margin-top: 0px;
  padding: 0;
  width: 100%;
}

.effect-container p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 13px;
}

.buttons-container {
  margin-top: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 6px 0;
}


/* ////////////////////////////////////////////////////////////*/
/* Keyboard layout */
#keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.key-btn {
  padding: 12px 16px;
  font-size: 22px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: var(--medium-dark-gray);
  color: white;
  cursor: pointer;
}

.key-btn:hover {
  background-color: var(--medium-dark-gray);
  color: white;
  border-color: black;
  box-shadow: 0 3px 6px var(--shadow-medium);
  transform: translateY(-2px);
  transition: background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.delete-key {
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: var(--medium-dark-gray);
  color: white;
  cursor: pointer;
}

.delete-key:hover {
  background-color: var(--medium-dark-gray);
  color: white;
  border-color: black;
  box-shadow: 0 3px 6px var(--shadow-medium);
  transform: translateY(-2px);
  transition: background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}


#typingControls {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

#typingControls button {
  padding: 12px 16px;
  border-radius: 6px;
  background-color: var(--medium-gray);
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

#typingControls button:hover {
  box-shadow: 0 3px 6px var(--shadow-medium);
  transform: translateY(-2px);
  transition: background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;

}

#spaceBtn {
  width: 350px;
  font-size: 18px;
}

/* Style for active/selected popup buttons */


#playBtn {
  position: absolute;
  padding: 20px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #E3AE96;
  cursor: pointer;
  border: none;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#playBtn:active {
  animation: pop 0.2s ease;
}

#playBtn:hover {
  background-color: #E3AE96;
  transform: scale(1.05);

}

#clearBtn {
  position: absolute;
  padding: 20px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  background-color: var(--light-gray-1);
  cursor: pointer;
  border: none;
  bottom: 10px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}


/* Effect styles */

.emphasize-effect {
  transform: scale(1.025);
  background: var(--green-to-lavender);
}

.emphasize-effect:hover {
  transform: scale(1.025);
  background: var(--green-to-lavender);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  filter: brightness(1.03);
}

.slowDown-effect {
  padding-right: 24px;
  padding-left: 24px;
}

.slowDown-effect:hover {
  padding-right: 24px;
  padding-left: 24px;
  background-color: #e8c2af;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.speedUp-effect {
  padding-right: 10px;
  padding-left: 10px;
}

.speedUp-effect:hover {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #e8c2af;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.lowPitch-effect {
  transform: translateY(8px);
}

.lowPitch-effect:hover {
  transform: translateY(8px);
  background-color: #e8c2af;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.highPitch-effect {
  transform: translateY(-8px);
}

.highPitch-effect:hover {
  transform: translateY(-8px);
  background-color: #e8c2af;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);


}

/* ===== EMOTION BUTTONS ====================*/

/* Original */
.emotion-Btn {
  padding: 6px 14px;
  border: 1.5px solid var(--pinkish);
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease;
}

/* Hover: subtle background hint */
.emotion-Btn:hover {
  background-color: rgba(255, 192, 203, 0.1);
  /* light pink tint */
}

.emotion-Btn.is-active {
  background-color: rgba(255, 192, 203, 0.2);
  transform: scale(0.97);
}





/* === Responsive Design === */
@media (max-width: 768px) {
  #ipadContainer {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0;
  }

  #currentSentence {
    height: auto;
    padding-bottom: 60px;
    /* make space for Play button */
  }

  #playBtn {
    position: absolute;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #E3AE96;
    cursor: pointer;
    border: none;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

  }

  .key-btn {
    padding: 10px 12px;
    font-size: 18px;
    flex: 1;
  }

  #spaceBtn {
    width: 100%;
  }

  #typingControls {
    flex-direction: column;
    align-items: center;
  }

  #typingControls button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  #wordPopup {
    width: 90%;
    max-width: 300px;
    left: 5% !important;
    top: auto !important;
    bottom: 20px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 16px;
  }

  .key-btn {
    font-size: 16px;
    padding: 8px 10px;
  }

  #typingControls button {
    font-size: 14px;
    padding: 10px;
  }

  #playBtn {
    position: absolute;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #E3AE96;
    cursor: pointer;
    border: none;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
}